.timer {
  background-color: white;
  border-radius: 50%;
}
.timer-submitting {
  font-size: 1.5rem;
  animation: fadeInOut 1s ease-in 0s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
