.quiz-page {
  width: 100vw;
  height: 100vh;
  padding: 3rem 4rem;
  background-image: linear-gradient(to right, #268effcc, #5b75ffb3),
    url("../../Images/background.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.quiz-header {
  width: 100%;
  min-height: 10%;
  display: flex;
  flex: 1 1 10%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.quiz {
  flex: 1 1 80%;
  width: 80%;
  min-height: 300px;
  margin: 3rem auto;
  padding: 1rem;
}
@media only screen and (max-width: 768px) {
  .quiz-page {
    padding: 3rem 1rem;
  }

  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
  }
  .quiz {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem 0px;
  }
}
